.header-outer{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d50d0d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.warning-label{
    color: #d50d0d;
    font-size: 20px;
    font-weight: bold;
}

.colb{
    border: #d50d0d solid 1px;
}

.container-outer{
    background-image: linear-gradient(to top, #b8d6ff, #b1d1ff, #aaccff, #a4c6ff, #9ec1ff, #98bcff, #93b8ff, #8eb3ff, #87aeff, #81a9ff, #7aa4ff, #749fff);
}
