.container-outer{
    height: 70%;
    border: 5px solid #27104e;
    border-radius: 20px;
    background-color: #050A30; 
    margin-top: 20px;
}

.col-10{
    height: auto;
}

.row-2{
    border: 2px solid #BFD7ED;
    border-radius: 10px;
}