.container-outer{
    height: auto;
    border: 5px solid #27104e;
    border-radius: 20px;
    background-color: #050A30; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    overflow-x: hidden !important;
}

.col-10{
    height: auto;
}

.row-2{
    border: 2px solid #BFD7ED;
    border-radius: 10px;
}