.schedule-outer{
    height: auto;
    justify-content: center;
    border: 3px solid #BFD7ED;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.scheduler-outer-title{
    width: fit-content;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -18px;
    color: #BFD7ED;
    background-color: #050A30;
}

.schedule-content{
    width: 100%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.schedule-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #BFD7ED;
    width: 40px;
}

.schedule-input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #BFD7ED;
    background-color: #050A30;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.save-button{
    width: 40%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #BFD7ED;
    background-color: #050A30;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
