
.w-main{
    background-image: linear-gradient(to top, #b8d6ff, #b1d1ff, #aaccff, #a4c6ff, #9ec1ff, #98bcff, #93b8ff, #8eb3ff, #87aeff, #81a9ff, #7aa4ff, #749fff);
    border-radius: 7px;
}


.w-title{
    font-size: 20px;
    font-weight: bold;
    color: #0b30a0;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.w-indicator{
    font-size: 20px;
    font-weight: bold;
    color: #d50d0d;
    margin-bottom: 10px;
   
}
