.w-title{
    font-size: 20px;
    font-weight: bold;
    color: #d50d0d;
    margin-bottom: 10px;
}

.w-indicator{
    font-size: 20px;
    font-weight: bold;
    color: #d50d0d;
    margin-bottom: 10px;
}