.w-outer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #d50d0d solid 3px;
    height: 50px;
    border-radius: 7px;
}
 .warning-msg{
   margin-top: 9px;

 }