@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  max-width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden !important;
}